.light-slider {
  background-color: white;
}

.light-slider-container {
  background-color: darkcyan;
}

.dark-slider-container {
  background-color: #2dd4bf;
}

.dark-slider {
  background-color: #1f2937;
}
