<header class="print:hidden h-14 items-center container max-w-3xl flex items-center justify-between p-4 mb-10 mx-auto bg-gray-50 dark:text-white dark:bg-gray-700">
  <div class="flex space-x-2 cursor-pointer border-b-2 dark:border-gray-700 border-gray-50 item" (click)="printResume()">
    <fa-icon [icon]="print"></fa-icon>
    <div>
      {{ 'header.download' | translate }}
    </div>
  </div>
  <div>
    <div (click)="switchTheme()" class="relative flex justify-between cursor-pointer items-center rounded-full w-[60px] h-[34px] light-slider-container" id="container">
      <fa-icon [icon]="moon" class="text-gray-800 text-lg pl-1"></fa-icon>
      <fa-icon [icon]="sun" class="text-white text-lg pr-1"></fa-icon>
      <div id="slider" class="light-slider absolute top-[3px] bottom-0 left-1 w-7 h-7 rounded-full z-10">
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center divide-x-2">
    <div class="p-1" [ngClass]="{'filter grayscale': isGerman}" (click)="changeLanguage('en_US')">
      <img width="28" [ngClass]="{'cursor-pointer': isGerman}" src="assets/en.png" alt="english">
    </div>
    <div class="p-1" [ngClass]="{'filter grayscale':!isGerman}" (click)="changeLanguage('de_DE')">
      <img width="28" [ngClass]="{'cursor-pointer': !isGerman}" src="assets/de.png" alt="german">
    </div>
  </div>
</header>

