<div class="text-white dark:text-gray-700 p-4 space-y-2 divide-y-[1px] dark:divide-gray-700 primary-bg-color">
  <div class="md:grid print:grid grid-cols-6 gap-6 items-center space-y-4 md:text-left print:text-left text-center">
    <div class="space-y-2 flex flex-col justify-start items-center col-span-2">
      <div>
        <img class="rounded-full h-[104px] w-[104px]" style="box-shadow: 2px 2px 10px 0 #adadad;"
             src="assets/Fuhge.jpg" alt="Annika Fuhge">
      </div>
      <div class="font-semibold text-lg">
        {{ 'resume.header.name' | translate }}
      </div>
    </div>

    <div class="quote racking-wider text-center col-span-4">
     <fa-icon [icon]="left"></fa-icon>
      <span [ngClass]="{'quote-content': (colorThemeService.isDarkTheme$ | async) === false,'quote-content-dark': (colorThemeService.isDarkTheme$ | async) === true}">
      {{ 'resume.header.quote' | translate }}
      </span>
      <fa-icon [icon]="right"></fa-icon>
    </div>
  </div>

  <div class="pt-4 md:space-x-10 print:space-x-10 flex flex-col md:flex-row print:flex-row justify-center flex-wrap text-sm">
    <div class="flex space-x-2 cursor-pointer hover:font-semibold">
      <fa-icon [icon]="envelope"></fa-icon>
      <a href="mailto:annikafuhge96@gmail.com" target="_blank">annikafuhge96@gmail.com</a>
    </div>
    <div class="flex space-x-2 cursor-pointer hover:font-semibold">
      <fa-icon [icon]="github"></fa-icon>
      <a href="https://github.com/afuhge">afuhge</a>
    </div>
    <div class="flex space-x-2">
      <fa-icon [icon]="birthdayCake"></fa-icon>
      <div>27.06.1996</div>
    </div>
  </div>
</div>
