 .quote-content::before {
  content: "\201C";
  position: absolute;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.15);
  font-family: 'Monospaced', sans-serif;
  top: -65%;
  left: -5%;
}

.quotation-marks {
  position: relative;
}

 .quote-content::after {
  content: "\201D";
  font-size: 100px;color: rgba(255, 255, 255, 0.15);
  font-family: 'Monospaced', sans-serif;
  position: absolute;
  top: 30%;
  left: 80%;
}

.quote-content-dark::before {
  content: "\201C";
  position: absolute;
  font-size: 100px;
  color: rgba(24, 63, 57, 0.15);
  font-family: 'Monospaced', sans-serif;
  top: -65%;
  left: -5%;
}

 .quote-content-dark::after {
  content: "\201D";
  font-size: 100px;
   color: rgba(24, 63, 57, 0.15);
  font-family: 'Monospaced', sans-serif;
  position: absolute;
   top: 30%;
   left: 80%;
}
