<div class="space-y-4">
  <div [ngClass]="{'title-dark': isDarkTheme, 'title': !isDarkTheme}">
          <span class="py-2 px-4 font-semibold">
            {{ 'resume.content.work-experience.headline' | translate }}
          </span>
  </div>
  <div class="space-y-4 divide-y">
    <div class="space-y-2">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://corporate.douglas.de/home/" target="_blank" class=" hover:font-semibold flex space-x-2 cursor-pointer">
          <div>
            {{ 'resume.content.work-experience.douglas.company' | translate }}
          </div>
          <fa-icon [icon]="link" class="text-gray-500 dark:text-gray-300"></fa-icon>
        </a>
        <div> {{ 'resume.content.work-experience.douglas.date' | translate }}</div>
      </div>
      <div class="font-semibold">{{ 'resume.content.work-experience.douglas.title' | translate }}</div>
      <div>
        {{ 'resume.content.work-experience.douglas.description' | translate }}
      </div>
      <div class="skills">
        <div class="p-1">
          #Angular
        </div>
        <div class="p-1">
          #TypeScript
        </div>
        <div class="p-1">
          #tailwindcss
        </div>
        <div class="p-1">
          #Cypress
        </div>
      </div>
    </div>

    <div class="space-y-2 pt-4">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://www.tu-dortmund.de/" target="_blank" class="hover:font-semibold flex space-x-2 cursor-pointer">
          <div>
            {{ 'resume.content.work-experience.tu-dortmund-wimi.company' | translate }}
          </div>
          <fa-icon [icon]="link" class="text-gray-500 dark:text-gray-300"></fa-icon>
        </a>
        <div>  {{ 'resume.content.work-experience.tu-dortmund-wimi.date' | translate }}</div>
      </div>
      <div class="font-semibold">  {{ 'resume.content.work-experience.tu-dortmund-wimi.title' | translate }}</div>
      <div>  {{ 'resume.content.work-experience.tu-dortmund-wimi.description' | translate }}</div>
      <div class="skills">
        <div class="p-1">
          #Java
        </div>
        <div class="p-1">
          #Xtend
        </div>
        <div class="p-1">
          #MPS
        </div>
        <div class="p-1">
          #Graphiti
        </div>
        <div class="p-1">
          #Eclipse
        </div>
      </div>
    </div>

    <div class="space-y-2 pt-4">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://www.tu-dortmund.de/" target="_blank" class="hover:font-semibold flex space-x-2 cursor-pointer">
          <div>
            {{ 'resume.content.work-experience.tu-dortmund.company' | translate }}
          </div>
          <fa-icon [icon]="link" class="text-gray-500 dark:text-gray-300"></fa-icon>
        </a>
        <div> {{ 'resume.content.work-experience.tu-dortmund.date' | translate }}</div>
      </div>
      <div class="font-semibold">{{ 'resume.content.work-experience.tu-dortmund.title' | translate }}</div>
      <div>{{ 'resume.content.work-experience.tu-dortmund.description' | translate }}</div>
      <div class="skills">
        <div class="p-1">
          #Java
        </div>
        <div class="p-1">
          #Xtend
        </div>
        <div class="p-1">
          #Graphiti
        </div>
        <div class="p-1">
          #Eclipse
        </div>
        <div class="p-1">
          #JUnit
        </div>
      </div>
    </div>
  </div>
</div>
