<div class="space-y-4">
  <app-headline [title]="'resume.content.skills.headline' | translate"></app-headline>

  <!-- languages -->
  <div class="space-y-2">
    <h4 class="subtitle">{{ 'resume.content.skills.language.title' | translate }}</h4>
    <div class="space-y-1">
      <div class="flex justify-between items-center">
        <div>{{ 'resume.content.skills.language.german' | translate }}</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4]"
               class="primary-bg-color w-4 h-4 rounded-md">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>{{ 'resume.content.skills.language.english' | translate }}</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md primary-bg-color"
               [ngClass]="{'opacity-20': i >= 4}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- programmiersprachen -->
  <div class="space-y-2">
    <h4 class="subtitle">{{ 'resume.content.skills.programming-languages.title' | translate }}</h4>
    <div class="flex flex-wrap -m-1 text-white">
      <div class="p-1" *ngFor="let language of languages">
        <app-badge [item]="language"></app-badge>
      </div>
    </div>
  </div>

  <!-- frameworks--->
  <div class="space-y-2">
    <h4 class="subtitle">Frameworks</h4>
    <div class="flex flex-wrap -m-1 text-white">
      <div class="p-1" *ngFor="let framework of frameworks">
        <app-badge [item]="framework"></app-badge>
      </div>
    </div>
  </div>


</div>
