<div class="space-y-4">
  <div [ngClass]="{'title-dark': (colorThemeService.isDarkTheme$ | async) === true, 'title': (colorThemeService.isDarkTheme$ | async) === false}">
          <span class="highlight py-2 px-4 font-semibold">
              {{ 'resume.content.skills.headline' | translate }}
          </span>
  </div>
  <!-- languages -->
  <div class="space-y-2">
    <div class="subtitle">{{ 'resume.content.skills.language.title' | translate }}</div>
    <div class="space-y-1">
      <div class="flex justify-between items-center">
        <div>{{ 'resume.content.skills.language.german' | translate }}</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4]"
               class="primary-bg-color w-4 h-4 rounded-md">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>{{ 'resume.content.skills.language.english' | translate }}</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md primary-bg-color"
               [ngClass]="{'opacity-20': i >= 4}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- programmiersprachen -->
  <div class="space-y-2">
    <div class="subtitle">{{ 'resume.content.skills.programming-languages.title' | translate }}</div>
    <div class="flex flex-wrap -m-1 text-white">
      <div class="p-1" *ngFor="let language of languages">
        <div class="badge">
          {{ language }}
        </div>
      </div>
    </div>
  </div>

  <!-- frameworks--->
  <div class="space-y-2">
    <div class="subtitle">Frameworks</div>
    <div class="flex flex-wrap -m-1 text-white">
      <div class="p-1" *ngFor="let framework of frameworks; let i = index;">
        <div class="badge">
          {{ framework }}
        </div>
      </div>
    </div>
  </div>


</div>
