<div class="space-y-4">
  <div [ngClass]="{'title-dark': (colorThemeService.isDarkTheme$ | async) === true, 'title': (colorThemeService.isDarkTheme$ | async) === false}">
          <span class="highlight py-2 px-4 font-semibold">
              {{ 'resume.content.knowledge.headline' | translate }}
          </span>
  </div>

  <div class="flex flex-wrap -m-1 text-white">
    <div class="p-1">
      <div class="badge">
        Git
      </div>
    </div>
    <div class="p-1">
     <div class="badge">
       MongoDB
     </div>
   </div>
   <div class="p-1">
     <div class="badge">
       Node.js
     </div>
   </div>
   <div class="p-1">
     <div class="badge">
       Express
     </div>
   </div>
  <div class="p-1">
    <div class="badge">
      Cypress
    </div>
  </div>
   <div class="p-1">
     <div class="badge">
       CI/CD
     </div>
   </div>
    <div class="p-1">
      <div class="badge">
        Figma
      </div>
    </div>
    <div class="p-1">
      <div class="badge">
        Docker
      </div>
    </div>
    <div class="p-1">
      <div class="badge">
        Quarkus
      </div>
    </div>
   <div class="p-1">
     <div class="badge">
       Vue.js
     </div>
   </div>
  <div class="p-1">
    <div class="badge">
      Maven
    </div>
  </div>
  </div>

</div>
