<app-headline [title]="'resume.content.privateProjects.headline' | translate"></app-headline>
<div class="border-b-[1px]">
  <app-project-entry-description
    projectTitle="CV" repo="https://github.com/afuhge/cv"
    website="https://github.com/afuhge/cv">

    <li > {{ 'resume.content.privateProjects.cv.description' | translate }}</li>
  </app-project-entry-description>
</div>

<div class="border-b-[1px]">
  <app-project-entry-description
    projectTitle="Bookstore Frontend" repo="https://github.com/afuhge/bookstore-ui"
   >

    <li > {{ 'resume.content.privateProjects.bookstoreUI.description' | translate }}</li>
  </app-project-entry-description>
</div>

<div class="border-b-[1px]">
  <app-project-entry-description
    projectTitle="Bookstore Backend" repo="https://github.com/afuhge/bookstore-service"
  >

    <li > {{ 'resume.content.privateProjects.bookstoreBackend.description' | translate }}</li>
  </app-project-entry-description>
</div>

<div class="border-b-[1px]">
  <app-project-entry-description projectTitle="Cloudy"
                                 repo="https://github.com/afuhge/Cloudy"
                                 website="https://afuhge.github.io/Cloudy/">
    <li> {{ 'resume.content.privateProjects.cloudy.description' | translate }}</li>
  </app-project-entry-description>
</div>

<div class="border-b-[1px]">
  <app-project-entry-description projectTitle="TicTacToe" repo="https://github.com/afuhge/TicTacToe"
                                 website="https://afuhge.github.io/TicTacToe/">
    <li > {{ 'resume.content.privateProjects.tic.description' | translate }}</li>
  </app-project-entry-description>
</div>

<div class="border-b-[1px]">
  <app-project-entry-description projectTitle="ToDo App" repo="https://github.com/afuhge/TODOApp2">
    <li > {{ 'resume.content.privateProjects.todo.description' | translate }}</li>
  </app-project-entry-description>
</div>

<div>
  <app-project-entry-description projectTitle="Blog" repo="https://github.com/afuhge/lady-whistledown">
    <li > {{ 'resume.content.privateProjects.blog.description' | translate }}</li>
  </app-project-entry-description>
</div>
